@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {font-family: 'PT Serif', serif;}

section {margin-top: 100px;}

h1 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1vw;
}

h2 {
    font-size: 0.75rem;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.5vw;
    color: #141414;
}

h3 {
    font-size: 1.25rem;
    font-weight: 500;
}

p {
    font-size: 1rem;
    color: #141414;
}

.description {
    margin-left: 25vw;
    margin-right: 25vw;
}

.icon-holder {
    margin-top: 50px;
    display:flex;
    gap: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    max-width: 20px;
    opacity: 0.15;
    transition: all 0.5s;
}

.icon:hover {opacity: 0.5;}

.pricing-holder {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: left;

    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.pricing-card {
    padding-left: 20px;
    padding-right: 20px;
    width: 200px;
    height: 350px;
    background-color: #f0f0f0;
    border-radius: 5px;

    transition: all 0.3s;
}

.pricing-card:hover {transform:translateY(-10px);}

.reviews-holder {
    display: grid;
    gap: 10px 30px;
    margin-left: 25vw;
    margin-right: 25vw;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto auto;
}

.section-header {
    font-size: 1rem;
    color: black;
    margin-bottom: 35px;
}

.photo {
    max-width: 24vw;
    transition: all 0.3s;
}

.photo:hover {transform: scale(1.03);}

.image-holder {
    display: flex;
    margin-left: 25vw;
    margin-right: 25vw;
}

.image-column {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

#logo-holder {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#logo {
    max-width: 30px;
    transform: rotate(45deg);
    transition: all 1s;
}

#logo:hover {transform: rotate(315deg);}

#basic {
    background-color: white;
    border: #b0b0b0 1px solid;
}

#standard {
    background-color: white;
    border: #b0b0b0 1px solid;
}

#premium {
    background-color: white;
    border: #b0b0b0 1px solid;
}

@media screen and (max-width: 768px) {
    .description {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .reviews-holder {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .pricing-holder {justify-content: center;}

    .pricing-card {padding-right: 30px;}

    .image-holder {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .photo {max-width: 38vw;}
}

@media screen and (max-width: 480px) {
    .description {
        margin-left: 7vw;
        margin-right: 7vw;
    }

    .reviews-holder {
        margin-left: 7vw;
        margin-right: 7vw;
    }

    .pricing-holder {justify-content: center;}

    .pricing-card {padding-right: 30px;}

    .image-holder {
        margin-left: 7vw;
        margin-right: 7vw;
    }
}