@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'PT Serif', serif;
}

main {
    margin-left: 20vw;
    margin-right: 20vw;
}

section {
    margin-top: 100px;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1vw;
}

h2 {
    font-size: 0.75rem;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.5vw;
    color: #141414;
}

p {
    font-size: 1rem;
    color: #141414;
}