@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* BASIC ELEMENTS */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'PT Serif', serif;
    margin:0;
    overflow-x: hidden;
}

section {padding-top: 100px;}

footer {
    text-align: center;
    opacity: 0.3;

    margin-top: 200px;
    padding-bottom: 15px;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1vw;
}

h2 {
    font-size: 0.75rem;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.5vw;
    color: #141414;
}

h3 {
    font-size: 1.25rem;
    font-weight: 500;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin-top: 40px;
    margin-left: 25vw;
    margin-right: 25vw;
}

.section-header {
    font-size: 1rem;
    margin-bottom: 35px;
}


/* NAVBAR */

#trigger {
    margin-top:100px;
    height: 1px;
}

.navbar {
    display: flex;
    gap: 40px;
    position: sticky;
    width: 100%;
    border-bottom: 1px white solid;

    padding: 10px;
    height: 35px;
    background-color: white;
    top: 0;
    z-index: 10;
}

.nav-link {
    text-decoration: none;
    color: #757575;
    height: 16px;
    transform: translateY(-2px);
    opacity: 0;
    visibility: hidden;

    margin-top: auto;
    margin-bottom: auto;

    transition: all 0.75s;
}

.navbar.stuck .nav-link {
    visibility: visible;
    opacity: 1;
}

.navbar:not(.stuck) .nav-link {
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s;
}

.navbar.stuck {
    border-bottom: 1px #d6d6d6 solid;
    transition: all 0.5s;
}

#logo-holder {
    display: flex;
    justify-content: center;
    transform: translateX(48.5vw);
    width: 20px;
    height: 20px;

    margin-left: 0;
    margin-top: auto;
    margin-bottom: auto;
    transition: all 1s;
    scroll-behavior: smooth;
}

#logo {
    transform: rotate(45deg);
    width: 20px;
    height: 20px;

    transition: all 1.3s;
}

#logo:hover {transform: rotate(315deg);}

.navbar.stuck #logo-holder {
    margin-left: 15px;
    margin-right: 5px;
    transform: translateX(0) rotate(360deg);
}

.menu-bar {
    width: 20px;
    height: 3px;
    background-color: black;
}

.menu-icon-holder {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.fixed-icon-holder {
    position: fixed;
    top: 20px;
    right: 15px;
    z-index: 11;
}

/* DESCRIPTION SECTION */

.description {
    margin-left: 25vw;
    margin-right: 25vw;
}

.icon-holder {
    margin-top: 50px;
    display:flex;
    gap: 10px;
    width: 50px;

    margin-left: auto;
    margin-right: auto;
}

.icon {
    max-width: 20px;
    opacity: 0.2;

    transition: all 0.5s;
}

.icon:hover {opacity: 0.7; transform: scale(1.05);}


/* PHOTOS SECTION */

.photo {
    width: 100%;
    margin-bottom: 10px;

    transition: all 0.3s;
}

.photo:hover {transform: scale(1.03);}

.image-holder {
    display: flex;
    gap: 10px;

    margin-left: 25vw;
    margin-right: 25vw;
}

.image-column {width: 24vw;}


/* REVIEWS SECTION */

.reviews-holder {
    display: grid;
    gap: 10px 30px;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto auto;

    margin-left: 25vw;
    margin-right: 25vw;
}


/* PRICING SECTION */

.pricing-holder {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: left;
    width: 50vw;

    margin-left: auto;
    margin-right: auto;
}

.pricing-card {
    padding-left: 20px;
    padding-right: 20px;

    width: 200px;
    height: 350px;

    border-radius: 5px;
    border: #d6d6d6 1px solid;

    transition: all 0.3s;
}

.pricing-card:hover {transform:translateY(-10px);}


/* NEWSLETTER SECTION */

.input {
    font-family: 'PT Serif', serif;
    font-size: 1rem;
    border: white 1px solid;
    border-radius: 3px;
    outline: none;
    background-color: white;

    padding: 5px;

    transition: all 0.4s ease-in;
}

.input:focus {border: #d6d6d6 1px solid;}

.input:hover {border: #d6d6d6 1px solid;}

#sign-up {
    transition: all 0.5s;

    padding: 5px 10px;
    margin-top: 15px;
}


/* SCROLLBAR */

::-webkit-scrollbar {width: 7px;}

::-webkit-scrollbar-track {background: white;}

::-webkit-scrollbar-thumb {
    background: #B3B3B3;
    border-radius: 5px;
    z-index:1;
}

::-webkit-scrollbar-thumb:hover {background: #808080;}


/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    .nav-link{display:none}

    #logo-holder {transform: translateX(45vw);}

    .description {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .image-holder {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .image-column {width: 38vw;}

    .reviews-holder {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .pricing-holder {justify-content: center;}

    .pricing-card {padding-right: 30px;}
}


@media screen and (max-width: 480px) {
    .description {
        margin-left: 7vw;
        margin-right: 7vw;
    }

    .image-holder {
        margin-left: 7vw;
        margin-right: 7vw;
    }

    .image-column {width: 43vw;}

    .reviews-holder {
        margin-left: 7vw;
        margin-right: 7vw;
    }

    .pricing-holder {justify-content: center;}

    .pricing-card {padding-right: 30px;}
}